/* Deafult Design Sytles */
h1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: #758FA6;
    margin: 12px 0px 0px 0px;
}

h1.pageTitle, .pageTitle
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: #666666;
    font-weight: normal;
}

h1.pageTitle
{
    padding: 10px 0px 12px 0px;
}

h2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #758fa6;
    margin: 0px 0px 0px 0px;
    padding: 8px 0px 4px 0px;
}

h2.subtitle
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    font-weight: normal;
    margin: 2px 0px 0em 0px;
    padding: 0px;
    color: #333333;
}

h3
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80%;
    font-weight: bold;
    margin: 8px 0px 0px 0px;
    padding-bottom: 4px;
}

h3.majorHeader
{
	font-family: Segoe, Verdana;
	font-size: 80%;
	color:#669966;
}
h3.minorHeader
{
	font-family:Verdana;
    font-size: 72%;
	font-weight:bold;
	color: #666666;
}

h4
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-weight: bold;
    margin: 0px;
}

h5
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    font-weight: bold;
    margin: 0px;
}

h6
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    font-weight: bold;
    margin: 10px 0px 0px 0px;
}

p
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    line-height: 150%;
    padding: 0px 0px 1em 0px;
    margin: 0.25em 0em 0.5em 0em;
    color: #333333;
}

img
{
	border:0px;
}

.bodyText
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    color: #333333;
}

p a, .bodyText a
{
    font-size: 100%;
}

li p
{
    padding: 0px 0px 0.25em 0px;
    margin: 0px;
}

.date
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    color: #666666;
    margin-top: 9px;
}

.datePipe
{
    color: #CCCCCC;
}

.byline
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    color: #666666;
}

hr
{
    color: #CCCCCC;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.ancestorLinks
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    margin-top: 12px;
}

.ancestorLinks a:visited
{
    color: #6E4987;
}

.ancestorLinks a:hover
{
    color: #006699;
}

.ancestorLabel
{
    color: #666666;
}

.topOfPage
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    padding-left: 4px;
    padding-right: 4px;
}

a.topOfPage:visited
{
    color: #6E4987;
}

a.topOfPage:hover
{
    color: #006699;
}

a
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 70%;
    text-decoration: none;
    color: #006699;
}

a:link
{
    color: #006699;
}

a:visited
{
    color: #6E4987;
}

a:hover
{
    color: #006699;
    text-decoration: underline;
}

a:active
{
    color: #006699;
    text-decoration: underline;
}

.overview
{
    padding-top: 10px;
}

.overviewPara
{
    padding-top: 10px;
}

.tocLink
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    padding-bottom: 8px;
}

.tocLink a:visited
{
    color: #0033CC;
}

.tocLink a:hover
{
    color: #FF6600;
}

.tocBullet
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    color: #CCCCCC;
    width: 13px;
    padding-left: 4px;
}

.containerHeader
{
    background: #999999;
}

.containerFooter
{
    background: #999999;
    margin-bottom: 12px;
}

.relatedLink
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    padding-bottom: 7px;
}

.rlBullet
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    color: #999999;
    width: 10px;
}

table.sidebar
{
    margin-right: 20px;
}

.sidebarContent
{
    background: #E9E9E6;
}

.downloadCaption
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    padding: 5px 0px 0px 0px;
}

.streams
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    padding-top: 10px;
    padding-bottom: 11px;
}

.downloadRule
{
    height: 2px;
    width: 149px;
    margin: 13px 1px 8px 1px;
    background: #999999;
    border-bottom: solid 1px #FFFFFF;
    overflow: hidden;
}

.getPlayer
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    padding-top: 5px;
}

.getPlayer2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    padding-top: 16px;
}

.file
{
    margin-top: 7px;
}

.fileDetails
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
}

.streamPipe
{
    color: #CCCCCC;
    padding: 0px 2px;
}

.fnSpacer
{
    height: 4px;
    overflow: hidden;
}

.figureCaption
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    font-weight: bold;
    color: #666666;
    padding: 7px 0px 15px 0px;
}


table.pullQuote
{
    margin: 7px 20px 0px 0px;
}

.pullQuoteRule1
{
    height: 1px;
    background: #999999;
    overflow: hidden;
}

.pullQuoteRule2
{
    height: 1px;
    background: #999999;
    overflow: hidden;
    margin-top: 14px;
    margin-bottom: 9px;
}

.sourcelessQuote
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80%;
    line-height: 155%;
    color: #CC6600;
    margin: 0px;
    padding: 18px 12px 0px 12px;
}

.directQuote
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 80%;
    line-height: 155%;
    color: #CC6600;
    margin: 0px;
    padding: 18px 0px 0px 0px;
}

.citation
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    margin: 0px;
    padding: 11px 0px 0px 0px;
}

.citationAuthor
{
    font-weight: bold;
}

.startQuote
{
    padding-top: 20px;
    padding-right: 11px;
}

.endQuote
{
    padding-left: 9px;
    padding-bottom: 5px;
}

h5.sidebar
{
    padding-top: 8px;
}

.farGraphic
{
    margin: 0px 0px 0px 0px;
}

.nearGraphic
{
    margin: 0px 9px 9px 0px;
}

.sidebarHeader
{
    width: 165px;
    height: 1px;
    overflow: hidden;
    background: #999999;
}

.sidebarFooter
{
    width: 165px;
    height: 1px;
    overflow: hidden;
    background: #999999;
    margin-bottom: 12px;
}

.pageNumber
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    padding: 0px 5px;
}
.pageNumber a
{
	font-size:100%;
}
.pageNumberItem
{
	padding:0px 2px;
}

.footnote
{
    font: 70% Arial;
    position: relative;
    top: -0.2em;
}

td.footnote
{
    font: 55% Arial;
    padding-right: 1ex;
}

.footnoteText
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    color:#333333;
}
.footnoteText a
{
	font-size:100%;
}

.footnotes
{
    margin-top: 11px;
    margin-bottom: 36px;
    color:#333333;
}

.sidebarClass
{
    margin: 2px 7px 8px 7px;
}

.sidebarClass p
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    padding-bottom: 11px;
}

.bioImage
{
    padding-right: 7px;
    padding-bottom: 14px;
}

pre.codeSample
{
    background: #DDDDDD;
    font-family: Lucida Console, Courier New;
    font-size: 70%;
    padding: 10px 15px 10px 25px;
    margin-bottom: 1em;
}

span.codeSample
{
    font-family: Lucida Console, Courier New;
}

.forMoreInfo hr
{
    margin-top: 8px;
}

.forMoreInfo h3
{
    margin-top: 0px;
    margin-bottom: 3px;
}

.forMoreInfo pre
{
    font: 70% Verdana;
    line-height: 130%;
}

/* datatable */
.record td, .sortable td, td.sortable table, .stdHeader td, .tableHeader td, .dataTable, .dataTableHeader, .dataTableHeaderCorner, .dataTableHeaderCornerBottom, .dataTableHeaderMid, .dataTableHeaderBottom
{
    border: none !important;
    padding: 0px !important;
}
.dataTable
{
    border: none;
    margin-bottom: 12px !important;
}
.dataTable td
{
    padding: 0;
    color: #01669A;
}
.dataTableHeader
{
    overflow: hidden;
}
.dataTableHeaderRow
{
    padding: 0;
    margin: 0;
}
.dataTableHeaderCorner
{
    padding: 0px !important;
    margin: 0;
    width: 8px;
    background-repeat: repeat-y;
}
.dataTableHeaderMid
{
    width: auto;
    padding-top: 7px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-bottom: 5px !important;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    background-color: #E1E7EC;
    background-repeat: repeat-x;
}
.dataTableItemRowEven
{
    background-color: transparent !important;
}
.dataTableItemRowOdd
{
    background-color: transparent !important;
}
.dataTableItemRowTop, .dataTableItemRowBottom
{
    position: relative;
    background-color: #B9D7E6;
    height: 2px !important;
    padding: 0px !important;
    border: none;
}
.dataTableBorderLeft
{
    position: relative;
    background-color: transparent !important;
    border: none;
    padding: 0px !important;
    border-left: solid 3px #B9D7E6;
}
.dataTableBorderRight
{
    position: relative;
    background-color: transparent !important;
    border: none;
    padding: 0px !important;
    border-right: solid 3px #B9D7E6;
}
.dataTableItem
{
    width: auto;
    padding: 10px !important;
    border-right: solid 1px #ebf3f6;
    border-bottom: solid 1px #ebf3f6;
    overflow: hidden;
}
.dataTableItemLast
{
    width: auto;
    padding: 10px !important;
    border-bottom: solid 1px #ebf3f6;
    overflow: hidden;
}
.dataTableFooterItem
{
    width: auto;
    padding: 10px !important;
    overflow: hidden;
}
.dataTableFooterItemLast
{
    width: auto;
    padding: 10px !important;
    overflow: hidden;
}
.dataTableFooterBorderLeft
{
    text-align: left;
}
.dataTableFooterBorderLeftFill
{
    height: 100%;
    background-image: url( '/web/20070222194248im_/http://www.microsoft.com/windows/templates/Common/images/table_footer_edge_span.png' );
    background-position: left;
    background-repeat: repeat-y;
}
.dataTableFooterBorderRight
{
    text-align: right;
}
.dataTableFooterBorderRightFill
{
    height: 100%;
    background-image: url( '/web/20070222194248im_/http://www.microsoft.com/windows/templates/Common/images/table_footer_edge_span.png' );
    background-position: right;
    background-repeat: repeat-y;
}
/* End dataTable */

.simpleForm
{
    margin: 20px 0px 1.5ex 0px;
}

.simpleForm p
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 65%;
    font-weight: bold;
    padding-bottom: 0px;
}

.simpleForm div
{
    margin-bottom: 14px;
}

.simpleFormSelect
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 70%;
    margin-right: 6px;
    margin-top: 2px;
}

.simpleFormSelectSmall
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 70%;
    margin-right: 6px;
    margin-top: 2px;
    width: 123px;
}

.simpleFormSelectMedium
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 70%;
    margin-right: 6px;
    margin-top: 2px;
    width: 169px;
}

.simpleFormSelectLarge
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 70%;
    margin-right: 6px;
    margin-top: 2px;
    width: 261px;
}

.simpleFormText
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 70%;
    width: 261px;
    margin-right: 6px;
    margin-top: 1px;
}

.simpleFormSubmit
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 70%;
    padding: 0px 1px 0px 2px;
}

.alertType
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    font-weight: bold;
    line-height: 140%;
    margin: 0px;
}
.byline
{
    font-size: 85%;
}
.bioText
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 70%;
    color: #666666;
}

/* Layout rules */
.zoneOne
{
    padding: 0px 5px 0px 14px;   
}
.zoneThree
{
    padding: 0px 10px 0px 4px;
}
.zoneThreeADOnly
{
    padding: 5px 0px 0px 12px;
}
.onThisPageContainer
{
    float: right;
    width: 195px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.pageheader
{
    padding: 14px 0px 0px 18px;
}
.pageheader a { font-size:100%; }
.headerObject
{
    margin: 0px 0px 10px 0px;
}
#page
{
    z-index:2;   
}
/* Header Rules */
#msviMasthead
{
    visibility: hidden;
}
#msviMastheadHR
{
    visibility: hidden;
    display: none;
}
#msviRegionIdGraphic
{
    visibility: visible;
    background-color: transparent;
}
#msviRegionGradient1
{
    visibility: hidden;
}
#msviRegionGradient2
{
    visibility: hidden;
}
#msviBrandBanner
{
    visibility: visible;
    background-color: transparent;
    padding: 0px 30px 0px 30px;
}
#msviGlobalToolbar
{
    visibility: visible;
    background-color: transparent;
}
#msviGlobalSearch
{
    visibility: hidden;
    background-color: transparent;
}
#msviSearchForm
{
    visibility: visible;
    display: inline;
}
td#msviGlobalSearch
{
    color: #fff;
    padding: 7px 30px 0px 30px;
}
td.gtsep
{
    color: #ffffff;
}
td.gt0
{
    padding: 1px 2px 1px 2px;
    border: none;
    background-color: transparent;
}
td.gt1
{
    padding: 1px 2px 1px 2px;
    border: none;
    background-color: transparent;
}
input#msviGoButton
{
    position: relative;
    top: -10px;
}
input#msviSearchBox
{
    position: relative;
    top: -10px;
}
#msviGoButton
{
    position: relative;
    top: -15px;
}
#searchProvider
{
    position: relative;
    top: -8px;
    text-align: right;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 65%;
    color: #ffffff;
    height:17px;
    padding: 0px 30px 0px 0px;
}
/* Footer Rules */
#msviFooter
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: #ffffff;
}
#msviFooter a{
    font-size: 100%;
}

/* page rules */
.onThisPage
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 90%;
    padding-left: 2px;
    padding-bottom: 8px;
}

.quickLinks
{
	list-style: round;
}
.quickLinks li
{
	font-size:70%;
	font-family:Verdana;
	padding-left:0px;
}
.quickLinks li a
{
	font-size:70%;
	font-family:Verdana;
}

.floatSectionBkg
{
    background: url( '/web/20070222194248im_/http://www.microsoft.com/windows/templates/common/images/bkg_floatSection.png' ) no-repeat;
    width: 424px;
    height: 261px;
    padding: 20px;
}

.floatSectionLeft
{
    float: left;
    margin: 0 20px 0 0;
}

.floatSectionRight
{
    float: right;
    margin: 0 0 0 20px;
}

a.majorLinkHeader
{
    font-family: Verdana;
    font-size: 70%;
    color: #006699;
    font-weight: bold;
}

.chartHeader
{
    font-size: 75%;
    font-family: Verdana;
	font-weight:bold;
	color:#444444;
}

/* lists */

ul, ol
{
	margin-top:0px;
	margin-bottom:20px;
	margin-left: 1em;
}
ul
{
	color:#a6a6a6;
	padding-left:0.5em;
}
ol
{
	font-size:70%;
	font-family:Verdana;
	padding-left:1.5em;
}

li
{
	line-height:100%;
	margin-bottom:0.25em;
}

ol li p, ol li .bodyText { font-size:100%; }

li > ul, li > ol
{
    margin-top: -5px !important;
}

li p ul, li p ol
{
	margin-bottom:0px !important;
	font-size:100%;
}

.highLightText ul, .highLightText ol
{
	margin-bottom:0px;
}

/* column templates */
.columnGroup	
{ 
	text-align:center;
	padding:10px 0px;
	display:block;
	width:100%;
}

.columnFour 
{
	width:22%;
	display:inline;
	vertical-align:top;
	text-align:left;
}
.columnFourDivider { width:3px; }

.columnThree 
{
	width:31%;
	display:inline;
	vertical-align:top;
	text-align:left;
}
.columnThreeDivider { width:5px; }

.columnTwo 
{
	width:45%;
	display:inline;
	vertical-align:top;
	text-align:left;
}
.columnTwoDivider { width:10px; }

/* expandos */
.screenShot
{
	margin-bottom: 20px;
}

.expContainer 
{
	position: relative;
	top:0px;
	left:0px;
	z-index: 98; 
	font-size: 60%; 
	font-family: Verdana;
}
.expOuter 
{
	position: absolute; 
	top: -327px; 
	display: none; 
	width: 535px; 
	height: 339px;
}
.expBkg 
{
	z-index: 5; 
	position: absolute; 
	width: 535px; 
	height: 339px;
}
.expOuter2 
{
	z-index: 10; 
	position: absolute; 
	width: 535px; 
	height: 339px; 
	padding: 12px 14px 12px 13px; 
	overflow: hidden;
}

.expInner 
{
	padding: 10px; 
	overflow: auto; 
	width: 508px; 
	height: 315px;
}
.text1 
{
	text-align: right; 
	color: #666666;
}
.text1 a 
{
	color: #666666; 
	text-decoration: none;
}
.text1 a:link, .text1 a:visited, .text1 a:hover, .text1 a:active 
{
	color: #666666; 
	text-decoration: none;
}
.expandoCTA 
{
	text-align: right; 
	font-weight: bold;
}
html>body .expandoCTA 
{
	padding-right: 5px;
}
.expandoCTA a 
{
	font-size: 110%;
}
.expSubHead 
{
	font-size: 85%; 
	font-weight: bold; 
	color: #669966;
}

.expContent 
{
	width: 488px; 
	border-top: 1px solid #6699cc; 
	margin-top: 10px; 
	padding: 19px 0 0 5px;
}

/* FAQ section */
.faqBackground
{
	background-color:#c8dde7;
	display:block;
}

.faqBackgroundFade
{
	background-repeat:repeat-x;
	background-position:top;
	height:auto !important;
	height:141px;
	display:block;
}
.faqTable
{
	margin-top:10px;
	display:block;
}
.faqExpandText
{
	white-space:nowrap;
	font-size:65%;
}
.faqHeader
{
	background-color:#edf4f6;
}
.faqHeaderText
{
	font-family:Verdana;
	font-size:75%;
	font-weight:bold;
	color:#444444;
	background-color:#edf4f6;
	vertical-align:middle;
	width:100%;
}
.faqQuestion
{
	vertical-align:top;
}
.faqPlusMinus
{
	margin-top:1px;
}
.faqQuestion a
{
	font-family:Verdana;
	font-size:70%;
}
.faqAnswerHidden
{
	display:none;
	visibility:hidden;
}
.faqAnswerShow a
{
	font-size:100%;
}
.faqQuestionText
{
	margin-top:3px;
}

.faqAnswerShow
{
	display:block;
	visibility:visible;
	margin-left:30px;
	margin-right:10px;
}

/* quicklinks */
.chartBackground
{
	background-repeat: repeat-x;
	background-position: top;
	height:141px;
	padding: 20px 15px 20px 15px;
}
html>body .chartBackground 
{
	height: auto;
}
.chartHeader
{
	background-color:#edf4f6;
}

.listIndent, .sidebar 
{
	margin-left: 5px;
}
.sidebar 
{
	text-align: left;
}
.divBar 
{
	height: 1px; 
	margin: 0 5px 6px 5px;
}
.ieQuickLinksBtmBkg, .winQuickLinksBtmBkg 
{
	background-position: bottom; 
	background-repeat: no-repeat;
}
.ieQuickLinksSpanBkg, .winQuickLinksSpanBkg 
{
	background-repeat: repeat-y; 
	background-position: center top;
}
.ieQuickLinksTopBkg, .winQuickLinksTopBkg
{
	width: 190px; 
	padding: 10px 5px 15px 5px; 
	background-position: top; 
	background-repeat: no-repeat;
}
html>body .ieQuickLinksTopBkg, html>body .winQuickLinksTopBkg
{
	width: 180px;
}
.sideHeader 
{ 
	color: #666666; 
	font-family:Verdana; 
	font-size:70%; 
}
.bodyCopy 
{
	color: #333333; 
	font-family: Verdana;
}
.highLightTitle a 
{
	color: #006699; 
	font-family: Verdana; 
	font-size: 80%; 
	font-weight: bold;
}
.highLightTextQL 
{ 
	font-size:70%;
	color: #333333; 
}
p.quickPara 
{
	padding: 0px 4px 2px 4px;
}

/* top navigation */
td#obsidianFiller
{
    background-repeat:repeat-x;
    width:100%;
}

td#porcelainFiller
{
    background-repeat:repeat-x;
}
	
div.menuHide
{
    visibility:hidden;
    display:none;
    position:relative;
    z-index:99;
}
div.menuShow
{
    visibility:visible;
    display:block;
    position:relative;
    z-index:99;
}

table.porcelainItem td.itemLeft, table.porcelain2Item td.itemLeft
{
    background-image:none;
    background-repeat:no-repeat;
    width:3px;
    height:23px;
}
table.porcelainItem td.itemMiddle, table.porcelain2Item td.itemMiddle
{
    background-image:none;
    background-repeat:repeat-x;
    height:23px;
    padding:0px 6px;
}
table.porcelainItem td.itemRight, table.porcelain2Item td.itemRight
{
    background-image:none;
    background-repeat:no-repeat;
    width:3px;
    height:23px;
}
table.porcelainItemSelected td.itemLeft, table.porcelainItemCurrent td.itemLeft
{
    background-repeat:no-repeat;
    width:3px;
    height:23px;
}
table.porcelainItemSelected td.moreArrow, table.porcelainItemCurrent td.moreArrow, table.porcelainItemSelected td.noMoreArrow, table.porcelainItemCurrent td.noMoreArrow
{
    background-repeat:repeat-x;
}

table.porcelainItemSelected td.itemRight, table.porcelainItemCurrent td.itemRight
{
    background-repeat:no-repeat;
    width:3px;
    height:23px;
}
table.porcelain2ItemSelected td.itemLeft
{
    background-repeat:no-repeat;
    width:3px;
    height:23px;
}
table.porcelain2ItemSelected td.itemMiddle
{
    background-repeat:repeat-x;
    height:23px;
    padding:0px 6px;
    width:100%;
}
table.porcelain2ItemSelected td.itemRight
{
    background-repeat:no-repeat;
    width:3px;
    height:23px;
}

div.porcelain2Hide, div.porcelain2Show
{
    position:absolute;
    z-index:99;
    padding:4px 0px 9px 0px;
}
div.porcelain2Hide
{
    visibility:hidden;
    display:none;
}
div.porcelain2Show
{
    text-align:left;
    visibility:visible;
    display:inline;
    background-color:#ffffff;
    background-repeat:repeat-x;
    background-position:bottom;
    border:solid 1px #a1a1a1;
}
span.porcelainEnd
{
    font-size: 1px;
    width:1px;
}
table.porcelain2Item, table.porcelain2ItemSelected
{
    width:100%;
    margin:1px 0px;
}
a.porcelainLink:hover, a.porcelain2Link:hover
{
    text-decoration:none;
}
a.porcelain2LinkText
{
    width:100%;
}
a.porInnerLink:link, a.porInnerLink:hover, a.porInnerLink:visited
{
    color:#000000;
    text-decoration:none;
}
table.porcelainItemSelected td.itemMiddle, table.porcelainItemCurrent td.itemMiddle
{
    background-repeat:repeat-x;
    height:23px;
    padding-left:7px;
    padding-right:6px;
}
table.porcelainItemSelected td.noMoreArrow, table.porcelainItemCurrent td.noMoreArrow
{
    width:1px;
}
td.moreArrow
{
    width:7px;
    height:23px;
    padding-right:4px;
}
table.porcelainItemSelected td.moreArrow, table.porcelainItemCurrent td.moreArrow
{
    padding-right:5px;
    
}

/* SubNavigation */
.subnavigationVista, .subnavigationVistaSelected, .subnavigationVistaHover, .subnavigationIE, .subnavigationIESelected, .subnavigationIEHover, .subnavigationUsing, .subnavigationUsingSelected, .subnavigationUsingHover
{
	background-repeat:no-repeat;
	text-align:center;
}
a.subnavigationVista:hover, a.subnavigationVistaSelected:hover, a.subnavigationIE:hover, a.subnavigationIESelected:hover, a.subnavigationUsing:hover, a.subnavigationUsingSelected:hover
{
	text-decoration:none;
}

/* Vista buttons */
.subnavigationVistaContainer
{
	padding: 2px 0px 10px 0px;
	margin-left:2px;
}
.subnavigationVistaCell
{
	text-align:center;
	cursor:pointer;
	padding-top:4px;
}
.subnavigationVista, .subnavigationVistaSelected, .subnavigationVistaHover
{
	width:181px;
	height:43px;
	margin-right:0px;
}

/* IE buttons */
.subnavigationIEContainer
{
	padding: 5px 0px 15px 0px;
	width:720px;
}
.subnavigationIECell
{
	text-align:center;
	cursor:pointer;
	padding-top:4px;
}
.subnavigationIE, .subnavigationIESelected, .subnavigationIEHover
{
	width:232;
	height:24;
}

/* Using buttons */
.subnavigationUsingContainer
{
	padding: 1px 0px 15px 0px;
	width:720px;
	margin-left:2px;
}
.subnavigationUsingCell
{
	text-align:center;
	cursor:pointer;
	padding-top:4px;
}
.subnavigationUsing, .subnavigationUsingSelected, .subnavigationUsingHover
{
	width:232;
	height:24;
}

/* link sizes */
.subnavigationLinkLarge, .subnavigationLinkLarge:link, .subnavigationLinkLarge:hover, .subnavigationLinkLarge:visited, .subnavigationLinkSmall, .subnavigationLinkSmall:link, .subnavigationLinkSmall:hover, .subnavigationLinkSmall:visited
{
	text-decoration:none;
	color:#006699;
}
.subnavigationLinkLarge
{
	font-size:15px;
}
.subnavigationLinkGray, .subnavigationLinkGray:link, .subnavigationLinkGray:hover, .subnavigationLinkGray:visited
{
	font-size:13px;
	color:#666666;
	text-decoration:none;
}
.subnavigationLinkSmall
{
	font-size:11px;
}

/* tab control */
.tabContainer
{
	width:187px !important;
	height:409px;
	padding-top: 30px;
	background-position: right top;
	background-repeat: no-repeat;
	text-align:right;
}
.tabLabel, .tabLabelSelected
{
	width:100%;
	font: 11pt verdana;
	text-align:right;
	padding-top:6px;
	padding-bottom:6px;
}
.tabLabelSelected, .tabLabelTopSelected, .tabLabelBottomSelected
{
	background-position: right;
	background-repeat: repeat-y;
}

.tabArrowHidden
{
	background-image:none;
}
.tabArrowHidden, .tabArrow
{
	text-decoration:none;
	padding:0px 8px;
}
.tabArrow
{
	background-position:center center;
	background-repeat:no-repeat;
}
.tabLabelText
{
	text-align:right;
	position:relative;
	z-index:1;
}

.tabLabelTopSelected, .tabLabelBottomSelected, .tabLabelBottom, .tabLabelTop
{
	height:2px;
	font-size:2px;
}

.tabLabelBottom
{
	background-position:right;
	background-repeat:no-repeat;
}

.tabLabel a, .tabLabel a:visited
{
	color: #333333;
}

.tabLabelSelected a, .tabLabelSelected a:visited
{
	font-weight: bold;
	color: #669966;
}

.tabContentContainer
{
	background-repeat: no-repeat;
	background-position:top left;
	width:522px;
	height:409px;
	height:auto !important;
	padding: 40px 0px 0px 10px;
	margin:0px;
}

.tabContentContainerSmall
{
	background-repeat: no-repeat;
	background-position:top left;
	width:335px;
	height:409px;
	height:auto !important;
	padding: 40px 0px 0px 10px;
	margin:0px;
}

/* A-Z styles */
.tabContentContainerAZ
{
	width:100%;
	padding: 0px 20px 0px 30px;
	margin:0px;
	height:auto;
}
.tabLinkAZ
{
	font-size:11px;
	color:#095d7f !important;
}
.tabLinkSelectedAZ
{
	font-weight:bold;
	color:#666668 !important;
	margin-right:8px;
}
.tabLabelTextAZ, .tabTop
{
	position:relative;
	z-index:1;
	text-align:left;
}
.tabLabelTextAZ
{
	margin-left:45px;
}
.tabTop
{
	color:#666668;
	margin-top:10px;
	margin-bottom:15px;
	margin-left:40px;
}

.tabLabelBottomAZ
{
	background-repeat:no-repeat;
	background-position:right;
	height:2px;
	font-size:2px;
	width:250px;
}

.tabLabelTopAZ
{
	background-repeat:no-repeat;
	background-position:top right;
	height:4px;
	font-size:2px;
}

.tabContainerAZ
{
	width:250px;
	height:406px;
	padding-top: 0px;
	background-position:top right;
	background-repeat: no-repeat;
}

.tabLabelAZ, .tabLabelSelectedAZ
{
	width:250px;
	font: 11pt verdana;
	text-align:left;
	padding-right:15px;
}

.tabLabelAZ 
{ 
	padding: 3px 0px 6px 0px; 
}

.tabLabelSelectedAZ 
{ 
	padding: 1px 0px 3px 0px; 
}
.tabArrowAZ
{
	background-position:left;
    padding-right:15px;
	background-repeat:no-repeat;
}
.tabSelector
{
	display:inline;
	font-weight:normal;
	font-size:12px;
	padding:0px 5px;
}
.tabSelector a, .tabSelector a:visited
{
	color:#095d7f;
	text-decoration:underline;
	font-size:12px;
}
.tabSelectorCurrent
{
	display:inline;
	font-weight:bold;
	color:#666668 !important;
	text-decoration:none !important;
	font-size:12px;
}

/* blue buttons */
.blueButton
{
	cursor:pointer;
	height:26px;
}
.blueButtonLeftCap, .blueButtonRightCap
{
	width:14px;
	height:26px;
	border:none;
}
.blueButtonMiddle
{
	vertical-align:middle;
	background-repeat:repeat-x;
	font-size:11px;
	color:#ffffff;
	border:none;
}
.blueButtonMiddle a, .blueButton a:hover, .blueButton a:visited
{
	color:#ffffff;
	text-decoration:none;
	font-size:11px;
}

/* ie hero */
.popTabLabel {
	background: url('/web/20070222194248im_/http://www.microsoft.com/windows/templates/common/images/ie/tab_IE_off.gif') no-repeat; 
	padding-top: 9px; 
	width: 116px; 
	height: 29px;
}
#tabBkg {
	display: none;
	height: 296px; 
	width: 716px; 
}
	
html>body .popTabLabel {height: 20px;}

.ieHero {
	width: 716px;
	text-align: right;
	padding-right: 15px;
}

.ieHeroLinks, .ieHeroLinks a, .ieHeroLinks a:link, .ieHeroLinks a:hover, .ieHeroLinks a:active, .ieHeroLinks a:visited, .ieHeroLinksRTL, .ieHeroLinksRTL a, .ieHeroLinksRTL a:link, .ieHeroLinksRTL a:hover, .ieHeroLinksRTL a:active, .ieHeroLinks a:visited, .videoCTA {
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	font-family: Verdana;
	color: #ffcc66;
}

.ieHeroHomeLinks a:link, .ieHeroHomeLinks a:hover, .ieHeroHomeLinks a:active, .ieHeroHomeLinks a:visited, .videoCTA {
	color: #006699;
}

.ieTab a, .ieTab a:visited, .ieTab a:hover, .ieTab a:active {
	color: #006699; 
	font-family: Verdana; 
	font-size: 13px; 
	text-decoration: none;
}

.tabBkg, .tabBkg a, .tabBkg a:link, .tabBkg a:hover, .tabBkg a:active, .tabBkg a:visited {
	text-decoration: none;
	font-size: 13px;
	font-family: Verdana;
}

.tabBkg, .tabBkg a {color: #006699;}

.ieHeroLinks, .ieHeroLinks a {color: #ffcc66;}

.ieHeroHomeLinks, .ieHeroHomeLinks a, .videoCTA {color: #006699;}

#videoLinks {font-weight: normal; font-size: 11px;}

.ieHeroLinks, .ieHeroHomeLinks {padding: 30px 0 0 400px;}

html>body .ieHeroHomeLinks {padding-right: 15px;}

html>body .ieHeroLinks {padding-right: 15px;}

.ieHeroMessage {font-size: 85%;}

#upgrade, #installed {display: none;}

.popTabContent {display: none; height: 294px; padding: 10px 0 0 10px;}

.btmPad, .ieHeroLabel, .heroLinks {padding-bottom: 5px;}

.ieTab {text-align:center;}

.ieHeroRight {float: left; padding: 160px 20px 0 400px;}

.tabContentRight {float: right; width: 33%; margin: 150px 20px 0 0; text-align: right;}

.tabcontentLeft {float: left; width: 62%;}

html>body .tabcontentLeft {width: 55%;}

 #popTabTopShadow {
	background-repeat: no-repeat; 
	background-position: bottom;
	width: 720px;
	height: 29px;
	position: absolute; 
	z-index: 0;
}
/*
     FILE ARCHIVED ON 19:42:48 Feb 22, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:28:17 Dec 30, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.993
  exclusion.robots: 0.047
  exclusion.robots.policy: 0.028
  esindex: 0.018
  cdx.remote: 32.62
  LoadShardBlock: 276.305 (3)
  PetaboxLoader3.datanode: 184.771 (4)
  PetaboxLoader3.resolve: 213.368 (2)
  load_resource: 281.794
*/