
div.section_oly-aml-near
{
	width:33%; /* change the width from 50% to 1/3 */
	padding-left: 16px; /* put the padding in the div rather than on each element */
	padding-top: 10px; /* change the top padding from 16 px to account for extra space in the title text container*/
}

div.section_oly-aml-far
{
	width:33%; /* change the width from 50% to 1/3 */
	left: 67%; /* change starting postion of the div to the far side of the container */
	padding-right: 16px; /* adding padding to keep text from hitting edge of container  */
	padding-top: 10px; /* change the top padding from 16 px to account for extra space in the title text container*/
}

div.section_oly-aml-center
{
	width:33%; /* change the width from 50% to 1/3 */
	left:33%; /* change starting postion of the div to center within the container */
	padding-left: 16px; /* put the padding in the div rather than on each element */
	padding-top: 10px; /* change the top padding from 16 px to account for extra space in the title text container*/
}

div.section_oly-aml-near ul.unordered li.listItem p.para
{
	margin-left: 0px; /* remove the margin on this element as it is now set in the div itself  */
}

div.section_oly-aml-near p.para, div.section_oly-aml-far p.para, div.section_oly-aml-center p.para
{
	margin-left: 0px; /* remove the margin on this element as it is now set in the div itself */
}

div.section_oly-aml-near h3.title_section, div.section_oly-aml-far h3.title_section, div.section_oly-aml-center h3.title_section
{
	font-size:225%; /* Modify the font size of the title element to accomodate design */
	font-weight:bold; /* Modify the weight of the title element to accomodate design */
	margin-left:0px; /* remove the margin on this element as it is now set in the div itself */
}


div.section_oly-aml h4.subTitle
{
	font-size:146%; /* Modify the font size of the subtitle element to accomodate design */
	font-weight:bold; /* Modify the weight of the subtitle element to accomodate design */
	margin-left:0px; /* remove the margin on this element as it is now set in the div itself */
}

div.section_oly-aml-light a.navigationLink, div.section_oly-aml-light h4.subTitle
{
	color:white; /* change color of links for the Light version to White */
}



/*
     FILE ARCHIVED ON 03:12:27 Dec 28, 2009 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:29:31 May 08, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.803
  exclusion.robots: 0.093
  exclusion.robots.policy: 0.081
  esindex: 0.011
  cdx.remote: 7.703
  LoadShardBlock: 1414.859 (3)
  PetaboxLoader3.datanode: 1394.648 (4)
  PetaboxLoader3.resolve: 49.033 (2)
  load_resource: 86.045
*/